body {
  display: flex;
  flex-wrap: wrap;
}

section:not(:last-child) {
  margin-right: 50px;
}

#task2 {
  margin-top: 100px;
}

#gallery {
  padding: 0;
}

#gallery li {
  list-style: none;
}

#gallery img {
  width: 500px;
}
